body {
	background-color: grey
}

.container {
	padding-top: 20px;
}

#dd-stats svg text {
	font-family: sans-serif;
	font-size: 24px;
	fill: #fff;
}

#dd-stats p.title {
	font-family: sans-serif;
	font-size: 28px;
	color: #fff;
}

#fj-stats svg text {
	font-family: sans-serif;
	font-size: 24px;
	fill: #fff;
}

#fj-stats p.title {
	font-family: sans-serif;
	font-size: 28px;
	color: #fff;
}

#slider path {
	display: none;
}

#slider svg line {
	stroke: #fff;
}

#slider svg text {
	fill: #fff;
}

#dd-order path {
	display: none;
}

#dd-order svg line {
	stroke: #fff;
}

#dd-order svg text {
	fill: #fff;
}

#seasons-slider {
	overflow: hidden;
	width: 600px;
}

#seasons-slider-value {
	font-family: sans-serif;
	font-size: 24px;
	color: #fff;
}