body {
	background-color: grey
}

.container {
	padding-top: 20px;
}

#seasons-slider {
	overflow: hidden;
	width: 600px;
}

#season-stats p {
	font-family: sans-serif;
	font-size: 24px;
	color: #fff;
}

#seasons-slider-value {
	font-family: sans-serif;
	font-size: 24px;
	color: #fff;
}